/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ajustes globales */
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* Estilos para la imagen de fondo */
.imagen-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Asegura que cubra todo el ancho */
  height: 100%; /* Asegura que cubra toda la altura */
  background-size: cover; /* Mantiene la imagen cubriendo todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  z-index: -1; /* Coloca la imagen detrás de otros elementos */
}

/* Imagen de fondo para escritorio */
@media (min-width: 1024px) {
  .imagen-fondo {
      background-image: url('images/fotos/foto-marco-desktop.png'); /* Imagen de escritorio */
  }
}

/* Imagen de fondo para tablet y móviles */
@media (max-width: 1024px) {
  .imagen-fondo {
      background-image: url('images/fotos/foto-marco-mobile-large.png'); /* Imagen para móviles y tablets */
  }
}

/* Estilo para el marco circular */
.marco {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el marco en la página */
  width: 80vw; /* Ancho del marco, se puede ajustar */
  height: 80vw; /* Alto del marco, se puede ajustar */
  max-width: 300px; /* Ancho máximo del marco */
  max-height: 300px; /* Alto máximo del marco */
  border-radius: 50%; /* Hace que el marco sea circular */
  border: 10px solid white; /* Color y grosor del borde del marco */
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para la foto dentro del marco */
.foto {
  width: 100%; /* Hace que la imagen llene todo el marco */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 50%; /* Hace que la imagen sea circular */
}

/* Estilo para el efecto de brillo */
.bright-effect {
  animation: brightness 0.5s forwards;
}

@keyframes brightness {
  from {
      filter: brightness(0);
  }
  to {
      filter: brightness(1);
  }
}

/* Estilo para la tarjeta */
.tarjeta {
  width: 100vw;
  height: 100vh;
  position: relative;
}



