/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ajustes globales */
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* Estilos para la imagen de fondo */
.imagen-fondo {
  position: fixed; /* Fijo para que cubra toda la ventana */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Debe estar detrás de todo */
}

/* Imagen de fondo para escritorio */
@media (min-width: 1024px) {
  .imagen-fondo {
      background-image: url('images/fotos/foto-marco-desktop.png'); /* Imagen de escritorio */
  }
}

/* Imagen de fondo para tablet y móviles */
@media (max-width: 1024px) {
  .imagen-fondo {
      background-image: url('images/fotos/foto-marco-mobile-large.png'); /* Imagen para móviles y tablets */
  }
}

/* Estilo para el marco circular */
.marco {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  border: 10px solid white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para la foto dentro del marco */
.foto {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Estilos para el título */
.titulo {
  position: absolute;
  top: 10%; /* Ajusta la posición vertical del título */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #5a8b9b; /* Azul claro */
  font-family: 'Parisienne', cursive; /* Fuente Parisienne */
}

.titulo h1 {
  font-size: 3vw; /* Tamaño responsivo */
  margin-bottom: 5px; /* Espacio entre el título y el mensaje */
}

.titulo p {
  font-size: 2.5vw; /* Aumentado el tamaño responsivo para móviles */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .titulo h1 {
    font-size: 7vw; /* Tamaño más grande en móviles */
  }

  .titulo p {
    font-size: 6vw; /* Tamaño más grande en móviles */
  }
}

/* Media query para tabletas */
@media (min-width: 769px) and (max-width: 1024px) {
  .titulo h1 {
    font-size: 6.5vw; /* Tamaño intermedio en tabletas */
  }

  .titulo p {
    font-size: 4.5vw; /* Tamaño intermedio en tabletas */
  }
}

/* Estilo para la sección del lugar */
.section {
  position: absolute;
  top: 50%; /* Ajustar a la posición deseada */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #5a8b9b; /* Color del texto */
  z-index: 1; /* Asegurar que esté por encima de la imagen de fondo */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  padding: 20px; /* Agregar un poco de padding */
  border-radius: 10px; /* Opcional: bordes redondeados */
}
/* Estilos para mostrar el lugar */
#lugar.visible {
  display: block; /* Mostrar la sección del lugar */
  opacity: 1; /* Hacerlo visible */
}

/* Responsividad del iframe */
.section iframe {
  width: 90%; /* Ancho responsivo */
  height: auto; /* Mantener proporciones */
  max-width: 600px; /* Ancho máximo */
  border: 0; /* Sin borde */
}

/* Estilo para el efecto de brillo */
.bright-effect {
  animation: brightness 0.5s forwards;
}

@keyframes brightness {
  from {
      filter: brightness(0);
  }
  to {
      filter: brightness(1);
  }
}

/* Estilo para la tarjeta */
.tarjeta {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2; /* Asegúrate de que esté por encima de la imagen de fondo */
}
